<footer>
  <!-- <section class="social-info">
    <div>
      <h4 style="text-align: center"></h4>
    </div>

    <ul class="social-list">
      <li><i class="bi bi-github"></i></li>

      <li><i class="bi bi-linkedin"></i></li>
    </ul>
  </section> -->

  <section class="footer-main">
    <div class="footer-main-item">
      <h4>About MEAN app</h4>
      <ul>
        <li><p>- mongoDB</p></li>
        <li><p>- Express</p></li>
        <li><p>- Angular</p></li>
        <li><p>- NodeJS</p></li>
        <li style="margin-top: 5px"></li>
      </ul>
    </div>
    <div class="footer-main-item">
      <h4 class="footer-header"></h4>
      <ul>
        <li><p>Bartosz Stachowicz</p></li>
        <li><p>698 850 820</p></li>
        <li><p>bartoszstachowicz@gmail.com</p></li>
      </ul>
    </div>

    <div class="footer-main-item">
      <ul>
        <li>
          <a href="https://github.com/BartekStachowicz"
            ><i class="bi bi-github"></i> Github</a
          >
        </li>

        <li>
          <a href="https://www.linkedin.com/in/bstachowicz/"
            ><i class="bi bi-linkedin"></i> Linkedin</a
          >
        </li>
      </ul>
    </div>
  </section>

  <!-- <section class="legal-info">
    <ul class="legal-list">
      <li>Autor: Bartosz Stachowicz</li>
      <li>bartoszstachowicz@gmail.com | 698 850 820</li>
      <li></li>
    </ul>
  </section> -->
</footer>
